

.formContainer{
    display: grid;  
    border-radius: 5px;
    padding: 20px;
}

.subFormContainer{
    display: grid;  
    border-radius: 5px;
    padding: 20px;
    background-color: #24262b ;
}
 

.formGroup{
    display: grid;  
    padding: 20px;
    margin: auto;
    width: 50%;
}

.formGroup .formLabel{
   color: white;
}