*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 5px;
}

.card-container{
    object-fit: contain;
    justify-content:space-evenly;
    flex-wrap: wrap;
    border: 1px solid grey;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.28);
    margin:5px;
    transition: .5s all ease-in-out;
    align-items: center;
}
.card-container:hover{
    background: rgba(147, 56, 56, 0.5);
    transform: scaleY(.98);
}

.card-container .image{
    object-fit: contain;
    padding: 5px;
}

.card_button {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}


.carousel{
    box-shadow: 2px 2px 12px #c0aeae;
    transition: 1s all ease-in-out;
    padding: 10px;
}
.carousel:hover{
    box-shadow: 2px 2px 12px 12px #c0aeae;
    transform: scaleX(1.1);
    border: 1px solid rgba(165, 38, 38, 0.3);
}

