
ul {
    list-style: none;

}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer_container{
    max-width: 1100px;
    margin: auto;
}
#row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_col{
    width:25%;
    padding: 0 15px;
}

h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91363;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}
li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration:none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3 ease;

}

li a:hover{
    color: #fff;
    padding-left: 8px;
}

.social_links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, .2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5 ease;
}

.social_links a:hover{
    color: #24262b;
    background-color: #fff;
}

@media (max-width:767px) {
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }
}