/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');
 */
.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
/*     min-height: 100vh; */
    font-family: 'Poppins', sans-serif;
/*     background: #f8f9fa; */
}

.cart-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    margin: 20px;
}

.cart-container:hover{
    box-shadow: 0 0 20px #ccc;
}

.cart-container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #495057;
    transition: .3s linear;
}

.cart-container .imgBx img {
    position: relative;
    width: 25rem;
    transform: rotate(-20deg);
    left: -14px;
    transition: .9s linear;
}

.cart-container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.cart-container .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
}

.cart-container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.cart-container .details p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
}

.cart-container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
}
.cart-container .details button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}


/* responsive */
@media (max-width: 1080px) {
    .cart-container {
        height: auto;
    }
    .cart-container .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .cart-container .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .cart-container {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .cart-container .details p {
        margin-left: 0;
        max-width: 100%;
    }
}